*.zip
# Ignore the doc/ directory
doc/
#ignore skills
.agent/
.agents/
.claude/
.vscode
skills-lock.json


# Ignore the tests/ directory
tests/
pyproject.toml
pytest.ini

#python cache
__pycache__/
*.pyc